# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Docker secrets
.env


# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# ignore legacy data/output but keep one example of each file type for context
legacy/data/*
!legacy/data/skaters_2025-06-18.csv
!legacy/data/goalies_2025-06-18.csv
!legacy/data/playoff_results_2025-06-18.csv
!legacy/data/standings_2025-06-18.csv
!legacy/data/fake_picks.csv
legacy/output/*
!legacy/output/pool_pick_visualization_2025-06-02.png
!legacy/output/pool_pick_visualization_players_2025-06-02.png

# python venv
venv/

# nginx basic auth password file
nginx/.htpasswd

